.App{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-product{
  border-top: 1px solid #ccc;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
